.Burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 80vh;
  width: 50vw;
  text-align: center;
  font-size: 1.2rem;
  overflow: auto;
}

.Errormessage {
  color: rgb(30, 163, 30);
  font-size: 4rem;
}

@media only screen and (max-width: 1000px) {
  .Burger {
    width: 50vw;
    height: 450px;
  }
  .Errormessage {
    color: rgb(30, 163, 30);
    font-size: 3rem;
  }
}

@media only screen and (max-width: 601px) {
  .Errormessage {
    color: rgb(30, 163, 30);
    font-size: 2.5rem;
  }
  .Burger {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 50px;

    text-align: center;
    font-size: 1.2rem;
    overflow: auto;
  }
}
