.Burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 80vh;
  width: 70%;
  min-height: 500px;
  text-align: center;
  font-size: 1.2rem;
  overflow: auto;
}

.Errormessage {
  color: rgb(30, 163, 30);
  font-size: 4.5rem;
}

@media (max-width: 1100px) {
  .Burger {
    width: 70%;
  }
  .Errormessage {
    color: rgb(30, 163, 30);
    font-size: 3.2rem;
  }
}

@media (max-width: 780px) {
  .Errormessage {
    color: rgb(30, 163, 30);
  }
  .Burger {
    height: 60vh;
    width: 70%;
    min-width: 330px;
    min-height: 0;
    padding: 15px 50px;
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  .Burger {
    height: 60vh;

    width: 80%;
    min-width: 330px;
    padding: 15px 50px;
    font-size: 1.2rem;
  }
}
