.menubutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
.btnline {
  background-color: #fff;
  height: 5px;
  margin-bottom: 6px;
  width: 35px;
  border-radius: 1px;
}
