.myorderContainer {
  width: 100%;
  height: 100vh - calc(70);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.myorderLeftSide {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myorderRightSide {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 780px) {
  .myorderLeftSide {
    width: 100%;
  }
  .myorderRightSide {
    width: 100%;
    display: flex;
    justify-self: flex-start;
    align-items: center;
  }
  .myorderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
