.orders {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #fff;
}

.errormessage {
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.errormessage p {
  color: rgb(158, 158, 158);
}

.errormessage h3 {
  font-size: 2rem;
  font-weight: 500;
}
