.orderComponent {
  border-radius: 2px;
  width: 50%;

  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #242424;
  background: rgb(236, 235, 219);
  justify-content: center;
  box-shadow: 0px 2px 5px #96a2bb;
}

.orderComponent h3 {
  font-weight: 500;
}
.orderComponent p {
  font-weight: 400;
}

.price {
  color: #242424;
  font-size: 1.2rem;
}

.ingredients {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2px;
  color: #242424;
  margin: 3px 3px;
  border: 1px solid #242424;
  text-transform: capitalize;
  padding: 3px 7px;
}

.ingredientsContainer {
  display: flex;
  flex-direction: row;
}
.amount {
  color: #242424;
}

@media (max-width: 800px) {
  .ingredientsContainer {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .orderComponent {
    width: 80%;
  }
  .ingredientsContainer {
    display: flex;
    flex-direction: column;
  }
}
